---
import Layout from "@/layouts/Layout.astro";
import Features from "@/components/Features.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import { Icon } from "astro-icon/components";
---

<Layout
  title="Planify"
  description="About Task manager with Todoist and Nextcloud support designed for GNU/Linux 🚀"
>
  <main class="px-4">
    <SectionContainer id="home" class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24 px-12 px-md-0">
    <SectionContainer id="features">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Icon name="wand" class="text-4xl" />
        Features
      </h2>
      <Features />
    </SectionContainer>
  </div>
</Layout>
