---
import Layout from "@/layouts/Layout.astro";
import Features from "@/components/Features.astro";
import Stats from "@/components/Stats.astro";
import Testimonials from "@/components/Testimonials.astro";
import FAQ from "@/components/FAQ.astro";
import CTA from "@/components/CTA.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import { Icon } from "astro-icon/components";
---
<Layout
  title="Planify - Task Manager for GNU/Linux"
  description="Task manager with Todoist and Nextcloud support designed for GNU/Linux 🚀"
  image="/og-image.png"
>
  <main class="px-4">
    <SectionContainer id="home" class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  
  <div class="space-y-24 px-12 px-md-0 pb-24">
    <SectionContainer id="features">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Icon name="wand" class="text-4xl" />
        Features
      </h2>
      <Features />
    </SectionContainer>

    <SectionContainer id="stats">
      <Stats />
    </SectionContainer>

    <SectionContainer id="testimonials">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Icon name="heart" class="text-4xl text-red-500" />
        What People Are Saying
      </h2>
      <Testimonials />
    </SectionContainer>

    <SectionContainer id="faq">
      <h2
        class="flex items-center mb-8 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white text-center justify-center"
      >
        Frequently Asked Questions
      </h2>
      <FAQ />
    </SectionContainer>

    <SectionContainer id="cta">
      <CTA />
    </SectionContainer>
  </div>
</Layout>
