---
import Layout from "@/layouts/Layout.astro";

import SectionContainer from "@/components/SectionContainer.astro";
import Icon from "node_modules/astro-icon/components/Icon.astro";
---

<Layout
  title="Planify | Privacy Policy"
  description="Discover the latest updates in Planify."
>
  <SectionContainer class="py-44 pb-32 px-12 px-md-0 flex flex-col gap-y-10">
    <h2
      class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
    >
      <Icon name="shield-tick" class="text-4xl" />
      Privacy Policy
    </h2>
    <p>
      We do not collect any personal data at all. All your app data is either
      being stored locally on your device or in your own Todoist or Nextcloud
      account if you have enabled this functionality.
    </p>
    <p>
      Should you have any questions or concerns in regards to our privacy
      policy, we are always here to help you and you can reach out to us via
      email address: <b>alainm23@gmail.com</b>.
    </p>
  </SectionContainer>
</Layout>
