---
const FEATURES = [
  {
    title: "Organize with Elegance and Efficiency",
    description:
      "Discover Planify, the native multilingual task management application for GNU/Linux. With a minimalist and attractive interface, Planify combines simplicity and functionality so you can focus on what matters. Optimized for performance and ease of use, it enhances your productivity with a hassle-free organization experience. Get organized and achieve more with Planify!",
    image: "/features/planify.png",
  },
  {
    title: "Sync with Todoist and Nextcloud",
    description:
      "Planify is not limited to working locally, it seamlessly integrates with Todoist and Nextcloud. Sync your tasks across multiple devices and platforms, ensuring you always have access to your to-do list, no matter where you are.",
    image: "/features/sync.png",
  },
  {
    title: "Beautiful Tasks",
    description:
      "View your tasks elegantly, add notes, priority, attachments, reminders, view URLs, create deadlines and add labels.",
    image: "/features/task.png",
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    FEATURES.map(({ image, title, description }, index) => (
      <article
        class={
          index % 2 === 0
            ? "flex flex-col space-x-0 space-y-8 group md:space-x-8 md:space-y-0 md:flex-row"
            : "flex flex-col space-x-0 space-y-8 group md:space-x-8 md:space-y-0 md:flex-row-reverse"
        }
      >
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
          </div>
        </div>
      </article>
    ))
  }
</div>
