---

---

<div>
  <h1
    class="text-4xl text-center font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    Planify
  </h1>
  <p
    class="mt-6 text-xl text-center text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Forget about forgetting things
  </p>

  <div class="flex justify-center mt-6">
    <a href="https://flathub.org/apps/details/io.github.alainm23.planify"
      ><img
        class="flathub"
        width="240"
        alt="Download on Flathub"
        src="https://flathub.org/assets/badges/flathub-badge-en.png"
      /></a
    >
  </div>

  <img
    src="https://raw.githubusercontent.com/alainm23/planify/master/data/resources/screenshot/screenshot-04.png"
    alt="Planify"
  />
</div>
