---
import ReleaseItem from "./ReleaseItem.astro";
import releases from '../data/releases.json'
---

<ol class="relative mt-16">
  {
    releases.map((item: any, index: number) => (
      <li class="">
        <ReleaseItem {...item} index={index} />
      </li>
    ))
  }
</ol>
