---
import ReleaseItem from "./ReleaseItem.astro";

import { app } from "../services/firebase";
import { collection, getDocs, getFirestore, query } from "firebase/firestore";

const db = getFirestore(app);
const querySnapshot = await getDocs(query(collection(db, "Releases")));
const releases = querySnapshot.docs.map((doc) => {
  return { documentId: doc.id, ...doc.data() };
}) as any[];

---

<ol class="relative mt-16">
  {
    releases.map((item) => (
      <li class="">
        <ReleaseItem {...item} />
      </li>
    ))
  }
</ol>
