name: Update Stats

on:
  schedule:
    - cron: "0 6 * * 1" # Every Monday at 06:00 UTC
  workflow_dispatch:

jobs:
  update-stats:
    runs-on: ubuntu-latest

    steps:
      - name: Clone the repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.TOKEN }}
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Update GitHub Stars
        run: node scripts/update-stats.js

      - name: Update Flathub Downloads
        run: node scripts/update-flathub-stats.js

      - name: Update Languages Count
        run: node scripts/update-languages-stats.js

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Check for changes and push to main
        run: |
          if git diff --quiet; then
            echo "No changes. Exiting."
            exit 0
          fi

          git add src/data/stats.json
          git commit -m "chore: update stats.json [auto]"
          git push origin main